.resultcard {
  @include center-column;
  text-align: center;
  background: linear-gradient($slateBlue, $royalBlue);
  color: $lavender;
  border-radius: 0 0 10% 10%;
  padding: 1.25rem 3rem 1.25rem 3rem;

  h1, h2 {
    color: $white;
  }

  div {
    margin-bottom: 1.25rem;
  }

  &-score {
    @include center-column;
    width: 10rem;
    height: 10rem;
    background: linear-gradient($violetBlue, $persianBlue);
    border-radius: 50%;

    h1 {
      font-size: 4rem;
    }
  }

  &-blurb {
    @include center-column;
    
    h2 {
      margin-bottom: 0.5rem;
    }
  }
}