p {
  @extend .hanken_medium;
}

h1 {
  @extend .hanken_extraBold;
}

h2 {
  @extend .hanken_medium;
}

h3 {
  @extend .hanken_medium;
  font-size: 1.25rem;
}

h4 {
  @extend .hanken_bold;
}

button {
  @extend .hanken_medium;
  font-size: 1.25rem;
}

p, h1, h2, h3, h4 {
  margin: 0;
}