button {
  background: $greyBlue;
  color: $paleBlue;
  padding: 1rem;
  border: 0;
  border-radius: 30px;
  transition-duration: 200ms;

  &:hover {
    background: $cobaltBlue;
    cursor: pointer;
  }

  &:active {
    background: $greyBlue;
  }
}