@import "Button";
@import "SkillCard";

.summarycard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1.25rem;
  height: 100%;

  &-header {
    color: $greyBlue;
  }

  &-skillcards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 1.5rem 0;
  }
}