@import "Button";
@import "SkillCard";

.summarycard {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-grow: 1;
  padding: 1.5rem 2rem 2rem 2rem;

  &-header {
    color: $greyBlue;
  }

  &-skillcards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .summarycard {
    min-width: 16rem;
  }
}